/*
 * Empty Stylesheet file.
 */

#btnExcluirTurma{
    -fx-text-fill:#ffffff;
    -fx-background-color:#990033;
    -fx-background-radius:5px;
}

#btnExcluirTurma:hover{
    -fx-background-color:#660000;
}
